# 4. 범주변수의 변환

In [1]:
#원핫인코딩 : 하위 범주를 변수로 만들어 각 케이스가 그에 해당되면 "1", 아니면 "0"을 입력하는 식으로 변경
# 거주지->거주지_서울, 거주지_경기, 거주지_지방

## 4.1 데이터 범주-연속-레이블로 나누기

In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
data=pd.read_csv("data/vote.csv",encoding='utf-8')
data.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,1,4,3,3,3,2,2,4.0,1,2
1,1,5,2,3,3,2,4,3.0,0,3
2,1,3,1,2,4,1,3,2.8,1,4
3,2,1,2,1,3,5,4,2.6,1,1
4,1,1,1,2,4,4,3,2.4,1,1

In [13]:
#범주형 특성치 : gender, region
X1=data[['gender','region']]
XY=data[data.columns[2:]]

## 4.2 범주형 변수의 One-hot-encoding 변환

In [4]:
X1['gender']=X1['gender'].replace([1,2],['male','female'])
X1['region']=X1['region'].replace([1,2,3,4,5],['Sudo','Cungcheung','Honam','Youngnam','Others'])

In [5]:
X1.head()

   gender    region
0    male  Youngnam
1    male    Others
2    male     Honam
3  female      Sudo
4    male      Sudo

In [6]:
X1_dum=pd.get_dummies(X1)
X1_dum.head()

,gender_female,gender_male,region_Cungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,0,1,0,0,0,0,1
1,0,1,0,0,1,0,0
2,0,1,0,1,0,0,0
3,1,0,0,0,0,1,0
4,0,1,0,0,0,1,0

## 4.3 자료 통합 및 저장하기

In [15]:
Fvote=pd.concat([X1_dum,XY],axis=1)
Fvote.head()

,gender_female,gender_male,region_Cungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [22]:
Fvote.to_csv("data/Fvote.csv", index=False, sep=',',encoding='utf-8')

# 5. 데이터셋 분할과 모델검증

## 5.1 특성치(X), 레이블(y) 나누기

In [23]:
data=pd.read_csv("data/Fvote.csv",encoding='utf-8')
data.head()

,gender_female,gender_male,region_Cungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [25]:
X=data[data.columns[:-2]]
y=data[['vote']]

## 5.2 train-test 데이터셋 나누기

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=42, stratify=y)

In [33]:
print(y_train.mean())
print(y_test.mean())

vote    0.708861
dtype: float64
vote    0.716981
dtype: float64

## 5.3 모델 적용

In [37]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [38]:
# 랜덤 없는 교차검증 : cross_val_score
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print(f"5개 테스트 셋 정확도 : {scores}")
print(f"정확도 평균 : {scores.mean()}")

5개 테스트 셋 정확도 : [0.71875    0.6875     0.8125     0.58064516 0.80645161]
정확도 평균 : 0.7211693548387096

In [43]:
# 랜덤 있는 교차검증  : K-Fold
from sklearn.model_selection import KFold
Kfold=KFold(n_splits=5, shuffle=True, random_state=42)
scores=cross_val_score(model, X_train, y_train, cv=Kfold)
print(f"5개의 폴드의 정확도 : {scores}")

5개의 폴드의 정확도 : [0.71875    0.6875     0.625      0.70967742 0.77419355]

In [45]:
# 임의분할 교차검증
from sklearn.model_selection import ShuffleSplit
Shuffle_Split=ShuffleSplit(test_size=0.5, train_size=0.5, random_state=42)
scores=cross_val_score(model, X_train, y_train, cv=Shuffle_Split)
print(f"교차검증 정확도 : {scores}")

교차검증 정확도 : [0.73417722 0.69620253 0.70886076 0.73417722 0.65822785 0.67088608
 0.72151899 0.65822785 0.69620253 0.70886076]

## 5.4 train-validity-test 분할과 교차검증

In [46]:
from sklearn.model_selection import train_test_split
X_train_val, X_test, y_train_val, y_test=train_test_split(X, y, random_state=1)
X_train, X_val, y_train, y_val=train_test_split(X_train_val, y_train_val, random_state=3)

In [48]:
model.fit(X_train, y_train)
scores=cross_val_score(model, X_train, y_train, cv=5)
print(f"교차검증 정확도 : {scores}")
print(f"정확도 평균 : {scores.mean()}")

교차검증 정확도 : [0.625      0.75       0.70833333 0.60869565 0.73913043]
정확도 평균 : 0.6862318840579711

In [50]:
model.score(X_val, y_val)

0.65

In [51]:
model.score(X_test, y_test)

0.7547169811320755